body{
    background-color:darkslategray; 
    text-align:center;}
    h1{font-size:69px; 
        text-align:center;}
        p{font-size:30px; 
            letter-spacing:10px; 
            color:black;}
     div.bilder{
         display:flex;
         justify-content: center;
     }
