body {
    background-color:#FFC0CB;
    text-align:center;
  }
  h1{
    font-size:69px;
    text-align:center;
  }
  p {
    font-size:30px;
    letter-spacing:10px;
    color:#800000;
  }
  .bilder {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
